.typeaheadDrawer {
  display: grid;
  grid-template-rows: auto auto 1fr auto;

  form {

    label {
      display: block;
    }

    input[type="text"] {
      display: block;
      width: 100%;
      font-size: 16px;
      padding: 8px 16px;
    }
  }

  ul {
    overflow-y: auto;
    margin: 16px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .bottomButtons {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}