.stickyFooter {
  position: sticky;
  bottom: 0;
  background: #fff;
  padding: 16px 20px;
  margin: 0 -20px;
  border-top: 1px solid #d6d6d6;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.printableSpells {
  display: none;
}

@media print {
  :not(:has(.printableSpells), .printableSpells, .printableSpells *) {
    display: none !important;
  }

  .printableSpells {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 1px;
    padding-bottom: 1px;
  }
}