.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 375px;
  padding: 16px 20px;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 16px;
  border-right: 1px solid var(--color-parchment-dark);

  h2 {
    margin-top: 0;
  }
}