.printableSpells {
  display: none;
}

@media print {
  :root {
    --color-text: #000;
  }

  body {
    background: #fff;
  }

  main {
    padding: 0;
  }

  section {
    margin: 0;
  }

  .parchment {
    background: #fff;
    box-shadow: none;
  }

  :not(:has(.printableSpells), .printableSpells, .printableSpells *) {
    display: none !important;
  }

  .printableSpells {
    display: block;

    h2 {
      break-before: page;
      margin: 16px 8px 8px;
      font-size: 16px;
    }

    ul {
      margin: 8px;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 8px;
    }
  }
}