button.addButton.addButton {
  border: none;
  width: 48px;
  padding: 0;
  height: 100%;
  background: transparent;
  flex-shrink: 0;
  position: relative;

  > svg {
    fill: var(--color-accent);
    height: 24px;
    width: 24px;
    position: absolute;
    transition: clip-path 300ms ease-out;

    /* checkmark */
    &:first-child {
      transition-duration: 100ms;
      transition-delay: 0ms;
      clip-path: inset(0 100% 0 0);
    }

    /* plus */
    &:last-child {
      transition-duration: 300ms;
      transition-delay: 100ms;
      clip-path: inset(0);
    }
  }

  &.checked > svg {
    /* checkmark */
    &:first-child {
      transition-duration: 300ms;
      transition-delay: 100ms;
      clip-path: inset(0);
    }

    /* plus */
    &:last-child {
      transition-duration: 100ms;
      transition-delay: 0ms;
      clip-path: inset(50%);
    }
  }

  &:hover {
    background: var(--color-bg-white);
  }
}