.backdrop {
  /* Override defaults */
  position: fixed;
  display: grid;
  inset: 0;
  max-width: none;
  max-height: none;
  border: none;
  width: 100vw;
  height: 100vh;
  align-items: center;
  z-index: 1;

  /* Styles */
  backdrop-filter: blur(16px);
  padding: 20px;
  background: #0004;

  transition: opacity 300ms ease;

  &:not([open]) {
    pointer-events: none;
    opacity: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    .dialog {
      animation: shrink 300ms ease forwards;
    }
  
    &[open] .dialog {
      animation: slide-up 300ms ease forwards;
    }
  }

  &::backdrop {
    opacity: 0;
  }

  & .dialog {
    background: #fff;
    padding: 16px 20px;
    box-shadow: 0 -2px 5px 0 hsl(220 40% 2% / calc(10% + 2%)), 0 1px 1px -2px hsl(220 40% 2% / calc(10% + 3%)), 0 2px 2px -2px hsl(220 40% 2% / calc(10% + 3%)), 0 5px 5px -2px hsl(220 40% 2% / calc(10% + 4%)), 0 9px 9px -2px hsl(220 40% 2% / calc(10% + 5%)), 0 16px 16px -2px hsl(220 40% 2% / calc(10% + 6%));
    border-radius: 8px;
    margin: 0 auto;

    & header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;

        & span {
          transform: rotate(45deg);
          font-size: 36px;
        }
      }

    }
  }
}

@keyframes shrink {
  to {
    transform: scale(0.3);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(60px);
  }
}