.backdrop {
  /* Override defaults */
  position: fixed;
  display: grid;
  inset: 0;
  max-width: none;
  max-height: none;
  border: none;
  width: 100vw;
  height: 100vh;
  align-items: center;
  z-index: 1;
  overflow: hidden;

  /* Styles */
  backdrop-filter: blur(16px);
  padding: 20px;
  background: #0004;

  transition: opacity 300ms ease;

  &:not([open]) {
    pointer-events: none;
    opacity: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    .dialog {
      animation: shrink 300ms ease forwards;
    }
  
    &[open] .dialog {
      animation: slide-up 300ms ease forwards;
    }
  }

  &::backdrop {
    opacity: 0;
  }

  & .dialog {
    padding: 16px 20px;
    border-radius: 8px;
    margin: 0 auto;
    border: 1px solid var(--color-parchment-dark);

    & header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        text-decoration: none;

        & span {
          transform: rotate(45deg);
          font-size: 36px;
        }
      }

    }
  }
}

@keyframes shrink {
  to {
    transform: scale(0.3);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(60px);
  }
}