.spellList {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  & li {
    background: #f7f7fb;
    padding: 8px 16px;

    & .level {
      font-size: 14px;
      color: #666;
      margin-top: 4px;
    }
  }
}