.spellWrapper {
  background: #fff6;
  border-radius: 2px;

  &:has(> .spellCard) {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
  }

  .spellSummary {
    position: sticky;
    top: 44px;
    display: grid;
    grid-template-columns: auto 1fr;
    border-radius: 2px;

    &:has(~ .spellCard) {
      border-bottom: 1px solid #dac3a6;
      background-color: #efefe8;
    }

    .checkbox {
      justify-content: center;
      padding-right: 12px;
    }

    .summary {
      color: var(--color-text);
      overflow: hidden;
      cursor: pointer;
      padding: 8px 16px 8px 4px;
      text-decoration: none;

      h4 {
        margin: 0;
        font-size: 16px;
      }

      .levelAndTime {
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:hover {
        text-decoration: underline;
        background: #fff6;
      }
    }
  }

  .spellCard {
    grid-column: span 2;
  }

}

.dialog.dialog {
  padding: 16px;
  border-radius: 8px;

  header {
    padding-bottom: 8px;

    h3 {
      margin: 0;
    }

    button {
      background: #fff6;

      &:hover {
        background: #fff;
      }
    }
  }

  .spellCard {
    padding: 0;
    gap: 8px;

    > * {
      background: #fff6;
      padding: 8px 16px;
      border-radius: 2px;
    }

    > *:not(:last-child) {
      font-size: 16px;
    }
  }
}