.spellSummary {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  gap: 8px;
  background: #fff6;
  border-radius: 2px;
  padding: 8px 16px;

  .summary {
    overflow: hidden;
    h3 {
      margin: 0;
      font-size: 16px;
    }

    .levelAndTime {
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  button {
    width: auto;
    padding: 0;
    background: transparent;
    color: var(--color-accent);
    text-decoration: underline;
    font-size: 14px;

    &:hover {
      background: transparent;
      color: var(--color-accent-hover);
    }
  }

  .dialog {
    max-width: 480px;
    padding: 4px 8px;
    border-radius: 8px;

    header {
      padding: 8px 0 8px 16px;

      h3 {
        margin: 0;
      }

      button {
        background: #fff6;

        &:hover {
          background: #fff;
        }
      }

    }

    .spellCard {
      border: none;
      padding: 0;

      h3 {
        display: none;
      }
    }
  }
}