.dropdownWrapper {
  position: relative;

  .dropdown {
    background: var(--color-accent);
    position: absolute;
    padding-top: 20px;
    top: 100%;
    right: 0;
    width: 200px;
    transition: all 300ms;
    z-index: -1;
    color: #fff;
    box-shadow: var(--shadow-md);
    opacity: 0;
    transform: translateY(-200px);

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      margin-top: -8px;
      z-index: -1;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      border-color: var(--color-accent);
      border-width: 40px 100px;
      border-style: solid;
      border-bottom-color: transparent;
      filter: drop-shadow(var(--shadow-md));
    }
  }

  &:hover,
  &:focus-within {
    .dropdown {
      transition-delay: 200ms;
      opacity: 1;
      transform: translateY(0px);
    }

    .dropdownTrigger.dropdownTrigger {
      width: 200px;

      & span {
        opacity: 1;
        padding-left: 8px;
      }
    }
  }
}