.spellListPlaceholder {
  background: #fff6;
  border-radius: 2px;
  padding: 8px 16px;
  min-height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;

  .placeholderIcon {
    fill: var(--color-text);
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
  }
}

.printableSpells {
  display: none;
}

@media print {
  :not(:has(.printableSpells), .printableSpells, .printableSpells *) {
    display: none !important;
  }

  .printableSpells {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 1px;
    padding-bottom: 1px;
  }
}