.typeaheadForm {
  min-height: 760px;

  & label {
    display: block;
  }

  & input[type="text"] {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 8px 16px;
  }

  & ul {
    min-height: 632px;
    margin: 16px 0;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }

}